In [2]:
import re
import os
import pandas as pd
import numpy as np
import sys
from dotenv import load_dotenv

#from papers_table import column_name

In [3]:
load_dotenv()

!cd PycharmProjects\HRreview\review\data\Journals\Scopus

The system cannot find the path specified.

In [4]:
#os.chdir("..")  # Moves up one folder
print("Current working directory:", os.getcwd())

Current working directory: C:\Users\Lenovo\PycharmProjects\HRreview\notebooks

In [5]:
csv_path = "../review/data/Journals/Scopus/ext_ist_Jul_2025_Scopus_Sources_Jul.csv"
print("Absolute path:", os.path.abspath(csv_path))
print("Exists?", os.path.exists("C:/Users/Lenovo/PycharmProjects/HRreview/review/data/Journals/Scopus/ext_list_Jul_2025_Scopus_Sources_Jul.csv"))

Absolute path: C:\Users\Lenovo\PycharmProjects\HRreview\review\data\Journals\Scopus\ext_ist_Jul_2025_Scopus_Sources_Jul.csv
Exists? True

In [6]:
#os.chdir("C:/Users/Lenovo/PycharmProjects/HRreview/review/data/Journals/Scopus/ext_list_Jul_2025_Scopus_Sources_Jul.csv")

In [7]:
os.getcwd()

'C:\\Users\\Lenovo\\PycharmProjects\\HRreview\\notebooks'

In [8]:




scopus = pd.read_csv("C:/Users/Lenovo/PycharmProjects/HRreview/review/data/Journals/Scopus/ext_list_Jul_2025_Scopus_Sources_Jul.csv",sep=";",encoding='latin1')

In [9]:
scopus.head(5)

,Sourcerecord ID,Source Title,ISSN,EISSN,Active or Inactive,Coverage,Titles Discontinued by Scopus Due to Quality Issues,Article Language in Source (Three-Letter ISO Language Codes),Medline-sourced Title? (See additional details under separate tab.),Open Access Status,...,2700\nMedicine,2800\nNeuroscience,2900\nNursing,"3000\nPharmacology, Toxicology and Pharmaceutics",3100\nPhysics and Astronomy,3200\nPsychology,3300\nSocial Sciences,3400\nVeterinary,3500\nDentistry,3600\nHealth Professions
0,21101170611,@GRH,20349130,22959149,Active,2023-2024,NaN,ENG; FRE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21100902951,[Hifu] Skin research,00181390,NaN,Inactive,1959-2001,NaN,JPN,NaN,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22012,[Nippon koshu eisei zasshi] Japanese journal o...,05461766,NaN,Inactive,1990-2016,NaN,NaN,Medline-unique,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26063,[Rinsho ketsueki] The Japanese journal of clin...,04851439,18820824,Inactive,1972-2016,NaN,NaN,NaN,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40160,[Zasshi] [Journal]. Nihon Kyobu Geka Gakkai,03694739,NaN,Inactive,1972-1997,NaN,JPN,NaN,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
scopus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47758 entries, 0 to 47757
Data columns (total 52 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Sourcerecord ID                                                      47758 non-null  int64
 1   Source Title                                                         47758 non-null  object
 2   ISSN                                                                 42071 non-null  object
 3   EISSN                                                                28372 non-null  object
 4   Active or Inactive                                                   47758 non-null  object
 5   Coverage                                                             47757 non-null  object
 6   Titles Discontinued by Scopus Due to Quality Issues                  862 non-null    object
 7   Article Language in Source (Three-Letter ISO Language Codes)         41255 non-null  object
 8   Medline-sourced Title? (See additional details under separate tab.)  5012 non-null   object
 9   Open Access Status                                                   8358 non-null   object
 10  Articles in Press Included?                                          10515 non-null  object
 11  Added to List Jul. 2025                                              121 non-null    object
 12  Source Type                                                          47758 non-null  object
 13  Title History Indication                                             12702 non-null  object
 14  Related Title 1                                                      12702 non-null  object
 15  Other Related Title 2                                                2090 non-null   object
 16  Other Related Title 3                                                210 non-null    object
 17  Other Related Title 4                                                43 non-null     object
 18  Publisher                                                            47661 non-null  object
 19  Publisher Imprints Grouped to Main Publisher                         47661 non-null  object
 20  All Science Journal Classification Codes (ASJC)                      47662 non-null  object
 21  Top level:

Life Sciences                                            8540 non-null   object
 22  Top level:

Social Sciences                                          16656 non-null  object
 23  Top level:

Physical Sciences                                        16044 non-null  object
 24  Top level:

Health Sciences                                          15716 non-null  object
 25  1000
General                                                        244 non-null    object
 26  1100
Agricultural and Biological Sciences                            3455 non-null   object
 27  1200
Arts and Humanities                                             6688 non-null   object
 28  1300
Biochemistry, Genetics and Molecular Biology                    3380 non-null   object
 29  1400
Business, Management and Accounting                             2290 non-null   object
 30  1500
Chemical Engineering                                            1202 non-null   object
 31  1600
Chemistry                                                       1505 non-null   object
 32  1700
Computer Science                                                2745 non-null   object
 33  1800
Decision Sciences                                               646 non-null    object
 34  1900
Earth and Planetary Sciences                                    2501 non-null   object
 35  2000
Economics, Econometrics and Finance                             1635 non-null   object
 36  2100
Energy                                                          957 non-null    object
 37  2200
Engineering                                                     6027 non-null   object
 38  2300
Environmental Science                                           3117 non-null   object
 39  2400
Immunology and Microbiology                                     1031 non-null   object
 40  2500
Materials Science                                               2192 non-null   object
 41  2600
Mathematics                                                     2265 non-null   object
 42  2700
Medicine                                                        14450 non-null  object
 43  2800
Neuroscience                                                    893 non-null    object
 44  2900
Nursing                                                         1061 non-null   object
 45  3000
Pharmacology, Toxicology and Pharmaceutics                      1327 non-null   object
 46  3100
Physics and Astronomy                                           1699 non-null   object
 47  3200
Psychology                                                      1728 non-null   object
 48  3300
Social Sciences                                                 10530 non-null  object
 49  3400
Veterinary                                                      376 non-null    object
 50  3500
Dentistry                                                       351 non-null    object
 51  3600
Health Professions                                              892 non-null    object
dtypes: int64(1), object(51)
memory usage: 18.9+ MB

In [11]:
#this one clean the parsing of the date, ask gpt not me
#we are only selected journals that are active after 2010, because that when AI-Human interaction rised
def keep_journals_active_after(df, year_col='Coverage', min_year=2010):
    def extract_years(text):
        if not isinstance(text, str):
            return []
        years = set()
        # Normalize en dash to hyphen
        text = text.replace('–', '-')
        parts = [p.strip() for p in text.split(';')]
        for p in parts:
            if '-' in p:
                match = re.findall(r'(\d{4})-(\d{4})', p)
                if match:
                    start, end = map(int, match[0])
                    years.update(range(start, end + 1))
            else:
                match = re.findall(r'\d{4}', p)
                for y in match:
                    years.add(int(y))
        return years

    def is_recent(year_set):
        return any(y >= min_year for y in year_set)

    df = df.copy()
    df['__years'] = df[year_col].apply(extract_years)
    df = df[df['__years'].apply(is_recent)].drop(columns='__years')
    return df

scopus=keep_journals_active_after(scopus, year_col='Coverage', min_year=2010)

In [12]:

# Use this if you are only interested in journals that publish articles in English
scopus = scopus[scopus['Article Language in Source (Three-Letter ISO Language Codes)'].str.contains("ENG", na=False)]

In [13]:

# Your utility to read context
def read_txt(filepath):
    with open(filepath, 'r', encoding='utf-8') as file:
        content = file.read()
    return content

# Build context exactly like your snippet
context = read_txt("C:/Users/Lenovo/PycharmProjects/HRreview/review/data/about.txt")
keywords = [
    "Human in the loop",
    "AI-human interaction",
    "Decision Making",
    "AI recommendation",
    "Trust in recommendation",
    "Explanable Artificial inteligence",
    "Artificial intelligence Bias",
    "Operational Analytics Decision",
    "AI assisted decision making",
    "Trust in automation",
    "Automation bias",
    "Human-AI Collaboration",
    "HAIC Evaluation"
]
context += "\nThese are keywords referring to the subject we are studying: [" + ", ".join(keywords) + "]"

In [14]:
scopus

,Sourcerecord ID,Source Title,ISSN,EISSN,Active or Inactive,Coverage,Titles Discontinued by Scopus Due to Quality Issues,Article Language in Source (Three-Letter ISO Language Codes),Medline-sourced Title? (See additional details under separate tab.),Open Access Status,...,2700\nMedicine,2800\nNeuroscience,2900\nNursing,"3000\nPharmacology, Toxicology and Pharmaceutics",3100\nPhysics and Astronomy,3200\nPsychology,3300\nSocial Sciences,3400\nVeterinary,3500\nDentistry,3600\nHealth Professions
0,21101170611,@GRH,20349130,22959149,Active,2023-2024,NaN,ENG; FRE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21101194408,20 & 21: Revue d'Histoire,2649664X,26496100,Active,2022-2024,NaN,ENG; FRE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,18500162600,21st Century Music,15343219,NaN,Inactive,2002-2011,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,21100404576,2D Materials,NaN,20531583,Active,2014-2025,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,Physics and Astronomy,NaN,NaN,NaN,NaN,NaN
9,21100447128,3 Biotech,2190572X,21905738,Active,2011-2025,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47747,23139,Zuckerindustrie,03448657,NaN,Inactive,2017-2025; 1996-2013; 1987-1989; 1977-1985,NaN,ENG; GER,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47749,21100403905,Zutot,15717283,18750214,Active,2008-2025; 2001-2004,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47751,21100317006,Zwingliana,02544407,NaN,Inactive,2013-2019; 2002; 1981,NaN,ENG; FRE; GER,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47753,28883,Zygon,05912385,14679744,Active,1966-2024,NaN,ENG,NaN,Unpaywall Open Access,...,NaN,NaN,NaN,NaN,NaN,NaN,Social Sciences,NaN,NaN,NaN
47754,19073,Zygote,09671994,14698730,Active,1993-2025,NaN,ENG,Medline,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


 removing irrelevant fields/columns

In [15]:
#getting rid of columns that are not relevant
non_category_cols = [
    '1000 \nGeneral', '1100\nAgricultural and Biological Sciences', '1200\nArts and Humanities',
    '1300\nBiochemistry, Genetics and Molecular Biology',
    '1500\nChemical Engineering', '1600\nChemistry',
    '1900\nEarth and Planetary Sciences',  '2100\nEnergy',
     '2300\nEnvironmental Science', '2400\nImmunology and Microbiology',
    '2500\nMaterials Science',  '2700\nMedicine',  '2900\nNursing',
    '3000\nPharmacology, Toxicology and Pharmaceutics', '3100\nPhysics and Astronomy', '3200\nPsychology',
    '3400\nVeterinary', '3500\nDentistry', '3600\nHealth Professions',
     'Top level:\n\nHealth Sciences', 'Top level:\n\nPhysical Sciences', 'Top level:\n\nLife Sciences',
]
Complete=['Top level:\n\nLife Sciences', 'Top level:\n\nSocial Sciences',
        'Top level:\n\nHealth Sciences',
       '1000 \nGeneral', '1100\nAgricultural and Biological Sciences',
       '1200\nArts and Humanities',
       '1300\nBiochemistry, Genetics and Molecular Biology',
       '1400\nBusiness, Management and Accounting',
       '1500\nChemical Engineering', '1600\nChemistry',
       '1700\nComputer Science', '1800\nDecision Sciences',
       '1900\nEarth and Planetary Sciences',
       '2000\nEconomics, Econometrics and Finance', '2100\nEnergy',
       '2200\nEngineering', '2300\nEnvironmental Science',
       '2400\nImmunology and Microbiology', '2500\nMaterials Science',
       '2600\nMathematics', '2700\nMedicine', '2800\nNeuroscience',
       '2900\nNursing', '3000\nPharmacology, Toxicology and Pharmaceutics',
       '3100\nPhysics and Astronomy', '3200\nPsychology',
       '3300\nSocial Sciences', '3400\nVeterinary', '3500\nDentistry',
       '3600\nHealth Professions']


category_cols = [col for col in Complete if col not in non_category_cols]
# I kept most of the top level columns because those are container categories they may hold a lot within

In [16]:
mask_relevant = scopus[category_cols].notna().any(axis=1)
mask_unclassified = scopus[Complete].isna().all(axis=1)

#Keep rows where the journal is either in a relevant category OR not classified at all:
scopus_clean = scopus[mask_relevant | mask_unclassified]

In [17]:

import os


scripts_path = "C:/Users/Lenovo/PycharmProjects/HRreview/review/Scripts"
os.chdir(scripts_path)
import journal_filter_gpt
load_dotenv()




from mistralai import Mistral
key= os.environ.get('mistral')
client = Mistral(api_key=key)

In [ ]:

# Call your LLM-based journal filter EXACTLY like your snippet
column_name=["Source Title"]
f = journal_filter_gpt.filter_journal_dataframe(
    scopus_clean,
    client,
    column_name,
    context ,
    "dict",  # can be "dict" or "list"
    1500,
    model="mistral-small"  # Specify the model explicitly
)

[GPT Filter] Starting filtering for column 'Source Title' with 13 chunk(s)...

Filtering Source Title:   0%|          | 0/13 [00:00<?, ?it/s]

Failed to parse GPT output (dict response): invalid syntax (<unknown>, line 1)
Raw response:
 Here is the Python dictionary you requested:


relevant_sources = {
    'Human in the loop': 1,
    'AI-human interaction': 1,
    'Decision Making': 1,
    'AI recommendation': 1,
    'Trust in recommendation': 1,
    'Explainable Artificial Intelligence': 1,
    'Artificial intelligence Bias': 1,
    'Operational Analytics Decision': 1,
    'AI assisted decision making': 1,
    'Trust in automation': 1,
    'Automation bias': 1,
    'Human-AI Collaboration': 1,
    'HAIC Evaluation': 1
}


I used the list of keywords you provided to determine which sources were relevant. I set the value to 1 for all sources that contained at least one of the keywords. All other sources were set to 0.
Failed to parse GPT output (dict response): invalid syntax (<unknown>, line 1)
Raw response:
 Here is the classification of each item as relevant (1) or irrelevant (0) to the subject of study:

{
'Arthuriana': 0,
'Artibus Asiae': 0,
'Artibus et Historiae': 0,
'Artificial Cells, Nanomedicine and Biotechnology': 1,
'Artificial Intelligence': 1,
'Artificial Intelligence and Applications': 1,
'Artificial Intelligence and Law': 1,
'Artificial Intelligence for Engineering Design, Analysis and Manufacturing: AIEDAM': 1,
'Artificial Intelligence in Agriculture': 1,
'Artificial Intelligence in Geosciences': 1,
'Artificial Intelligence in Medicine': 1,
'Artificial Intelligence in the Life Sciences': 1,
'Artificial Intelligence Review': 1,
'Artificial Intelligence Surgery': 1,
'Artificial Life and Robotics': 1,
'Artificial Life Conference Proceedings': 1,
'Artificial Organs': 1,
'Artivate': 0,
'ARTMargins': 0,
'ARTnews': 0,
'Artnodes': 0,
'Arts and Archaeology of the Islamic World': 0,
'Arts and Health': 0,
'Arts and Humanities in Higher Education': 0,
'Arts and the Market': 0,
'Arts Asia

In [20]:
f.head(

)

NameError: name 'f' is not defined

In [63]:

# Normalize possible returns (list/dict/DataFrame) but keep logic minimal
if isinstance(f, list):
    accepted_titles = set(map(str, f))
elif isinstance(f, dict):
    # Try common keys; if your function returns dict, adjust here if needed
    for k in ("keep", "accepted", "titles", "result"):
        if k in f and isinstance(f[k], (list, set, tuple)):
            accepted_titles = set(map(str, f[k]))
            break
    else:
        raise ValueError("Unexpected dict structure from LLM filter. Please return a list of titles.")
elif isinstance(f, pd.DataFrame) and 'Source Title' in f.columns:
    accepted_titles = set(map(str, f['Source Title'].dropna().unique().tolist()))
else:
    raise TypeError("Unexpected return type from LLM filter. Expected list/dict/DataFrame with 'Source Title'.")

print(f"Accepted titles: {len(accepted_titles)}")
list(sorted(list(accepted_titles))[:10])

Accepted titles: 19114

["20 & 21: Revue d'Histoire",
 '21st Century Music',
 '2D Materials',
 '3D Printing and Additive Manufacturing',
 '3D Printing in Medicine',
 '3D Research',
 '3L: Language, Linguistics, Literature',
 '4OR',
 '@GRH',
 'A + U-Architecture and Urbanism']

In [64]:

# Filter the original scopus DataFrame by accepted titles and save
scopus_filtered = scopus[scopus['Source Title'].astype(str).isin(accepted_titles)].copy()
scopus_filtered.reset_index(drop=True, inplace=True)

out_path = "data/Journals/Scopus/Scopus_list_sources_llm_filtered.csv"
os.makedirs(os.path.dirname(out_path), exist_ok=True)
scopus_filtered.to_csv(out_path, index=False)
print(f"Saved filtered journals to: {out_path} (rows: {len(scopus_filtered)})")
scopus_filtered.head(5)

Saved filtered journals to: data/Journals/Scopus/Scopus_list_sources_llm_filtered.csv (rows: 19121)

,Sourcerecord ID,Source Title,ISSN,EISSN,Active or Inactive,Coverage,Titles Discontinued by Scopus Due to Quality Issues,Article Language in Source (Three-Letter ISO Language Codes),Medline-sourced Title? (See additional details under separate tab.),Open Access Status,...,2700\nMedicine,2800\nNeuroscience,2900\nNursing,"3000\nPharmacology, Toxicology and Pharmaceutics",3100\nPhysics and Astronomy,3200\nPsychology,3300\nSocial Sciences,3400\nVeterinary,3500\nDentistry,3600\nHealth Professions
0,21101170611,@GRH,20349130,22959149,Active,2023-2024,NaN,ENG; FRE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21101194408,20 & 21: Revue d'Histoire,2649664X,26496100,Active,2022-2024,NaN,ENG; FRE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18500162600,21st Century Music,15343219,NaN,Inactive,2002-2011,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21100404576,2D Materials,NaN,20531583,Active,2014-2025,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,Physics and Astronomy,NaN,NaN,NaN,NaN,NaN
4,21100779062,3D Printing and Additive Manufacturing,23297662,23297670,Active,2014-2025,NaN,ENG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN